body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  background: url("assets/header.jpg");
  background-position: 50% 75%;
  min-height: 250px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  font-family: Raleway;
  text-align: left;
  margin-bottom: .5rem;
}
.header h1, h3, h4, h5 {
  margin: 0;
}


/***** CONTAINERS ******/

.components-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card-container {
  padding-right: 2rem;
  /*width: 20%;*/
}
.table-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2rem;
  font-family: Raleway;
  margin-right: 1rem;
}
.toolbar-container {
  display: flex;
  justify-content: space-between;
}
/***** CARD COMPONENT STYLES ******/
.card {
  margin: 5px 0 5px 0;
}
.card-details li {
  list-style-type: none;
}
.card-image {
  height: 175px;
}
.tourney-card {
  margin-top: 1rem;
}

/***** TABLE COMPONENT STYLES ******/
.table {
  background: #424242;
  flex-wrap: wrap;
}
.table-heading {
  background: #424242;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0 .5rem 0;
}
